version: '{build}'

image: Visual Studio 2017

configuration: Release

platform: Any CPU

only_commits:
  files:
    - src/

build_script:

- ps: >-
    .\build.ps1 -Target Pack

test: off

artifacts:

- path: 'output\*.nupkg'